/* PORJECT 1 - SLIDER 1 */

.background {
  transition: all 0.4s ease-in-out;
  transition-delay: 0.25s;
  position: absolute;
  width: 1200px;
  top: -400px;
}

.active .background {
  transition: all 1.2s ease-in-out;
  top: 0;
}

.deg25 {
  rotate: 25deg;
}

.deg-65 {
  rotate: -65deg;
}

.phone {
  position: absolute;
  width: 180px;
}

.slider-1-1 .img-1 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  top: 740px;
  left: 115px;
}

.active.slider-1-1 .img-1 {
  transition: all 0.6s ease-in-out;
  transition-delay: 0.6s;
  top: 165px;
  left: 440px;
}

.slider-1-1 .img-2 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.25s;
  top: 650px;
  left: -75px;
}

.active.slider-1-1 .img-2 {
  transition: all 0.6s ease-in-out;
  transition-delay: 0.8s;
  top: 75px;
  left: 250px;
}

.slider-1-1 .img-3 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
  top: 765px;
  left: -365px;
}

.active.slider-1-1 .img-3 {
  transition: all 0.6s ease-in-out;
  transition-delay: 1s;
  top: 390px;
  left: 210px;
}

.slider-1-1 .img-4 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.15s;
  top: 765px;
  left: -365px;
}

.active.slider-1-1 .img-4 {
  transition: all 0.6s ease-in-out;
  transition-delay: 1.2s;
  top: 200px;
  left: -40px;
}

.slider-1-1 .img-5 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  top: 950px;
  left: 250px;
}

.active.slider-1-1 .img-5 {
  transition: all 0.6s ease-in-out;
  transition-delay: 1.4s;
  top: 375px;
  left: 575px;
}

.slider-1-1 .img-6 {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.05s;
  top: 200px;
  left: 1265px;
}

.active.slider-1-1 .img-6 {
  transition: all 0.6s ease-in-out;
  transition-delay: 1.4s;
  top: 150px;
  left: 785px;
}

.slider-1-1 .img-7 {
  transition: all 0.3s ease-in-out;
  top: 1040px;
  left: 440px;
}

.active.slider-1-1 .img-7 {
  transition: all 0.6s ease-in-out;
  transition-delay: 1.6s;
  top: 465px;
  left: 765px;
}
