img[class^="background-animation-"] {
  transition: all 0.4s ease-in-out;
  transition-delay: 0.25s;
  position: absolute;
}

.active img[class^="background-animation-"] {
  transition: all 1.2s ease-in-out;
  top: 0;
}

.background-animation-1 {
  width: 1105px;
  height: 600px;
  top: -400px;
}

.background-animation-2 {
  width: 1105px;
  height: 600px;
  top: 500px;
}

.phone {
  position: absolute;
  width: 120px;
}

/**************************/
/* PORJECT 1 - SLIDER 1 */
/**************************/

.upcoming-1 .phone {
  transition: all 0.3s ease-in-out;
  top: 50%;
  left: 50%;
}

.active.upcoming-1 .phone {
  transition: all 0.6s ease-in-out;
}

.upcoming-1 .img-1 {
  transition-delay: 0.3s;
  rotate: 25deg;
  transform: translate(-75%, 160%);
}

.active.upcoming-1 .img-1 {
  transition-delay: 0.6s;
  transform: translate(-75%, -32%);
}

.upcoming-1 .img-2 {
  transition-delay: 0.25s;
  rotate: 25deg;
  transform: translate(-185%, 180%);
}

.active.upcoming-1 .img-2 {
  transition-delay: 0.8s;
  transform: translate(-185%, -32%);
}

.upcoming-1 .img-3 {
  transition-delay: 0.2s;
  rotate: -65deg;
  transform: translate(-100%, 160%);
}

.active.upcoming-1 .img-3 {
  transition-delay: 1s;
  transform: translate(-100%, -68%);
}

.upcoming-1 .img-4 {
  transition-delay: 0.15s;
  rotate: 25deg;
  transform: translate(-300%, 190%);
}

.active.upcoming-1 .img-4 {
  transition-delay: 1.2s;
  transform: translate(-300%, 30%);
}

.upcoming-1 .img-5 {
  transition-delay: 0.1s;
  rotate: 25deg;
  transform: translate(40%, 200%);
}

.active.upcoming-1 .img-5 {
  transition-delay: 1.4s;
  transform: translate(40%, 35%);
}

.upcoming-1 .img-6 {
  transition-delay: 0.05s;
  rotate: -65deg;
  transform: translate(95%, 200%);
}

.active.upcoming-1 .img-6 {
  transition-delay: 1.4s;
  transform: translate(95%, 45%);
}

.upcoming-1 .img-7 {
  rotate: 25deg;
  transform: translate(155%, 200%);
}

.active.upcoming-1 .img-7 {
  transition-delay: 1.6s;
  transform: translate(155%, 35%);
}

/**************************/
/* PORJECT 1 - SLIDER 2 */
/**************************/

.upcoming-2 .phone {
  transition: all 0.3s ease-in-out;
  top: -300px;
  left: 50%;
}

.active.upcoming-2 .phone {
  transition: all 0.6s ease-in-out;
  top: 50%;
}

.upcoming-2 .img-1 {
  transition-delay: 0.3s;
  transform: translate(-270%, -50%);
}

.upcoming-2 .img-2 {
  transition-delay: 0.25s;
  transform: translate(-160%, -50%);
}

.upcoming-2 .img-3 {
  transition-delay: 0.2s;
  transform: translate(-50%, -50%);
}

.upcoming-2 .img-4 {
  transition-delay: 0.15s;
  transform: translate(60%, -50%);
}

.upcoming-2 .img-5 {
  transition-delay: 0.1s;
  transform: translate(170%, -50%);
}

.upcoming-2.active .img-1 {
  transition-delay: 0.6s;
}

.upcoming-2.active .img-2 {
  transition-delay: 0.8s;
}

.upcoming-2.active .img-3 {
  transition-delay: 1s;
}

.upcoming-2.active .img-4 {
  transition-delay: 1.2s;
}

.upcoming-2.active .img-5 {
  transition-delay: 1.4s;
}

/**************************/
/* PORJECT 2 - SLIDER 1 */
/**************************/

.cinematic-timelines-1 .img-1 {
  transition-delay: 0.25s;
}

.cinematic-timelines-1 .img-2 {
  transition-delay: 0.2s;
}

.cinematic-timelines-1 .img-3 {
  transition-delay: 0.15s;
}

.cinematic-timelines-1 .img-4 {
  transition-delay: 0.1s;
}

.cinematic-timelines-1 .img-5 {
  transition-delay: 0.05s;
}

.cinematic-timelines-1 .img-6 {
  transition: all 0.6s ease-in-out;
  position: absolute;
  transition-delay: 0.05s;
  width: 275px;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cinematic-timelines-1.active .img-2 {
  transition-delay: 0.2s;
}

.cinematic-timelines-1.active .img-3 {
  transition-delay: 0.4s;
}
.cinematic-timelines-1.active .img-4 {
  transition-delay: 0.6s;
}
.cinematic-timelines-1.active .img-5 {
  transition-delay: 0.8s;
}

.cinematic-timelines-1.active .img-6 {
  transition-delay: 1s;
  top: 50%;
}

/**************************/
/* PORJECT 2 - SLIDER 2 */
/**************************/

.cinematic-timelines-2 .img-1 {
  transition-delay: 0.35s;
}

.cinematic-timelines-2 .img-2 {
  transition-delay: 0.3s;
}

.cinematic-timelines-2 .img-3 {
  transition-delay: 0.25s;
}

.cinematic-timelines-2 .img-4 {
  transition-delay: 0.2s;
}

.cinematic-timelines-2 .img-5 {
  transition-delay: 0.15s;
}

.cinematic-timelines-2.active .img-2 {
  transition-delay: 0.2s;
}

.cinematic-timelines-2.active .img-3 {
  transition-delay: 0.4s;
}
.cinematic-timelines-2.active .img-4 {
  transition-delay: 0.6s;
}
.cinematic-timelines-2.active .img-5 {
  transition-delay: 0.8s;
}

.cinematic-timelines-2.active .img-6 {
  transition-delay: 1s;
  top: 50%;
}

.cinematic-timelines-2 .tablet {
  transition: all 0.6s ease-in-out;
  top: 50%;
  left: 50%;
  width: 250px;
  position: absolute;
  rotate: -12deg;
  z-index: 1;
  transform: translate(-55%, -350%);
  transition-delay: 0.1s;
}

.cinematic-timelines-2.active .tablet {
  transform: translate(-55%, -75%);
  transition-delay: 1.2s;
}

.cinematic-timelines-2 .phone-sm {
  transition: all 0.6s ease-in-out;
  top: 50%;
  left: 50%;
  width: 250px;
  position: absolute;
  rotate: 15deg;
  z-index: 2;
  transform: translate(-20%, -300%);
  transition-delay: 0.05s;
}

.cinematic-timelines-2.active .phone-sm {
  transform: translate(-20%, -50%);
  transition-delay: 1.4s;
}
