* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333;
}

p {
  margin-bottom: 3.2rem;
}

.container {
  background-color: #fff;
  max-width: 140rem;
  padding: 0 2.6rem;
  margin: 0 auto;
}

.text-box {
  padding: 16.4rem 0;
}

.main-link:link,
.main-link:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  border-bottom: 1.5px solid #333;
}

.main-link:hover,
.main-link:active {
  color: #fa3454;
  border-bottom: 1.5px solid #fa3454;
}

/* ============================== */
/* PROJECT COMPONENTS */
/* ============================== */

.project-container {
  padding-bottom: 7.2rem;
}

.project-imgs {
  margin-bottom: 3.2rem;
}

.project-img-container {
  width: 100%;
  height: 100vh;
  margin-bottom: 1.8rem;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: 2.4rem;
  cursor: pointer;
}

.icon__left {
  left: 2.4rem;
  bottom: 1.6rem;
}

.icon__right {
  right: 2.4rem;
  bottom: 1.6rem;
}

.project-list {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  font-size: 1.4rem;
  color: #888;
  list-style: none;
}

.project-list li.active {
  color: #333;
  font-weight: 500;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-key-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 4;
  margin-bottom: 3.2rem;
}

.project-title {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.project-subtitle {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.project-key-info ul {
  list-style: none;
  font-size: 1.6rem;
  color: #888;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: #888;
  transition: all 0.3s;
}

.project-link:hover,
.project-link:active {
  color: #fa3454;
}

.project-description {
  flex: 6;
}

/* ============================== */
/* FOOTER COMPONENTS */
/* ============================== */

.footer-flex {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 3.2rem;
  justify-content: space-between;
  border-top: 2px solid #ddd;
  color: #888;
  padding: 3.2rem 0 4.2rem 0;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-icon:link,
.footer-icon:visited {
  text-decoration: none;
  color: #888;
  transition: all 0.3s;
  border-bottom: 1.5px solid #888;
}

.footer-icon:hover,
.footer-icon:active {
  color: #fa3454;
  border-bottom: 1.5px solid #fa3454;
}
